TD {
	FONT-SIZE: 12px; COLOR: #006633; LINE-HEIGHT: 17pt
}
.content {
	FONT-SIZE: 9pt; COLOR: #000000
}
.red {
	FONT-SIZE: 12pt; COLOR: #cc0000
}
.failed {
	FONT-SIZE: 10.5pt; COLOR: #000000; LINE-HEIGHT: 15pt; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 15pt; TEXT-DECORATION: none
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 12.5pt; COLOR: #cc0000; LINE-HEIGHT: 15pt; TEXT-DECORATION: none
}

A:hover {
	COLOR: #ff6633; TEXT-DECORATION: underline
}
A {
	COLOR: #006633; TEXT-DECORATION: none
}
A.A1:hover {
	COLOR: #ff6633; TEXT-DECORATION: underline
}
A.A1 {
	COLOR: #000000; TEXT-DECORATION: none
}
.input1 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; WIDTH: 150px; BORDER-BOTTOM: #999999 1px solid
}
